.container {
  width: 900px;
  margin: auto;
}

.btn-primary {
  display: inline-block;
  background-color: #1EDD88;
  color: white;
  padding: 15px 25px;
  border-radius: 50px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230, 230, 230);
  text-align: center;
  padding: 20px;
}

.card img {
  width: 150px;
}

.card p {
  opacity: .5;
}
